@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,100;1,100&display=swap');

div img{
    margin: 0% auto;
    padding: 15px;
}



.recipe  {
    padding: 5px;
    text-align: center;
    background-color: rgb(226, 221, 221);
    font-weight: 600;
    color: rgb(49, 48, 48);
    font-size: 25px;
    border-bottom: 50px;
    border-bottom: solid;
    border-color: rgb(42, 104, 104);
    padding-bottom: 20px;

}

h3 {
    padding: 15px;
    text-decoration: underline;

    
}

a {
    background-color: rgb(68, 182, 182);
    padding: 10px;
    border-radius: 10px;
    font-size: medium;
    text-decoration: none;
    padding-bottom: 10px;

   
}

a:hover {
    background-color: rgb(58, 110, 110);

}
