@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,100;1,100&display=swap');

div img{
border-style:dashed;
    border-color: coral;
    display: block;
    border-bottom: 1px;
}



.recipe  {

    padding: 5px;
    justify-content: center;
    text-align: center;
    background-color: rgb(226, 221, 221);
    margin-top: top 50%;
    font-weight: 600;
    color: rgb(49, 48, 48);
    font-size: 20px;
    border-bottom: 50px;
    border-color: red;
   

}

h3 {
    padding: 15px;
    text-align: center;
    text-align: justify;
    margin-top: top 50%;
    font-size: medium;
    text-decoration: underline;

    
}

a {
    background-color: rgb(68, 182, 182);
    padding: 10px;
    border-radius: 10px;
    margin-top: top 100%;
    font-size: medium;
    text-decoration: none;
    position: absolute;
    position: left 50%;
 
   
}

a:hover {
    background-color: rgb(58, 110, 110);

}
